*{
	margin: 0px;
	padding: 0px	
}

.img{
	  background-image: url("../images/pic.jpg");
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-size: contain;
	  width: 100%;
	  height: 100vh;
}

.welcome{
	position: relative;
}

.welcome__message{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left:0;
	width: 100%;
	text-align: center;
}

.welcome__title{
	color:white;
	font-size: 4em;
	margin: 0px;
/*	background: grey;*/
		border-radius: 10%;
		margin-left: 40%;
		width: 20%;
}

.flipcard {
  position: relative;
  left: 45%;
  width: 197px;
  height: 230px;
  perspective: 500px;
  margin-top: 3%;
   -webkit-animation: rotateIt .7s linear infinite;
            animation: rotateIt .7s linear infinite;
}
.loading{
	color: white;
		/*background: grey;*/
		border-radius: 10%;
		margin-left: 45%;
		width: 10%;
}
@-webkit-keyframes rotateIt{
    from{
        -webkit-transform: rotateX(-180deg);
                transform: rotateX(-180deg);
                 -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
    }
    to {
      -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
                 -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
}

@keyframes rotateIt{
        from{
        -webkit-transform: rotateX(-180deg);
                transform: rotateX(-180deg);
                 -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
    }
    to {
      -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
                 -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
}