.box{
	width: 50px;
	height: 60px;	
	background:LightGoldenRodYellow;
	margin-bottom: 10px;
}

.relative{
	position: relative;
	right: 10px;
}

.absolute{
position: absolute;

}

.fixed{
	position: fixed;


top: 0;
right: 0;
}